.button1
{
-fx-background-color : #393351;
-fx-background-radius :  30 0 0 30;
}
.button1:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  30 0 0 30;
}
.button1:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  30 0 0 30;
}

.button2
{
-fx-background-color : #393351;
-fx-background-radius :  20;
}
.button2:hover
{
-fx-background-color : #524A7B ;
-fx-background-radius :  20;
}
.button2:pressed
{
-fx-background-color : #2F2B43 ;
-fx-background-radius :  20;
}

.button3
{
    -fx-background-color : #141124;
    -fx-background-radius :  0 0 0 0;
}
.button3:hover
{
    -fx-background-color : #524A7B ;
}
.button3:pressed
{
    -fx-background-color : #2F2B43 ;
}

.button4
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}
.button4:hover
{
    -fx-background-color :linear-gradient(to top left, #D4CEE3, #41951C);
    -fx-background-radius :  30 30 30 30;
}
.button4:pressed
{
    -fx-background-color :linear-gradient(to top left, #41951C, #D4CEE3);
    -fx-background-radius :  30 30 30 30;
}

.ajout {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3952cc 0%, #24679d 100%),
            #24679d,
            #24679d,
            radial-gradient(center 50% 50%, radius 100%, #24679d, #24679d);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}
.ajout:hover {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #3952cc 0%, #24679d 100),
            #24679d,
            #24679d,
            radial-gradient(center 50% 50%,radius 100%, #24679d, #24679d);
}
.ajout:pressed {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #568a55 0%, #169012 100),
            #64f802,
            #94bb71,
            radial-gradient(center 50% 50%,radius 100%, #169012, #94bb71);
}
.modif {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #6e6b05 0%, #d0cd14 100%),
            #d0cd14,
            #f1ee07,
            radial-gradient(center 50% 50%, radius 100%, #f1ee07, #d0cd14);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #000000;
}
.modif:hover {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #6e6b05 0%, #d0cd14 100),
            #d0cd14,
            #f1ee07,
            radial-gradient(center 50% 50%,radius 100%, #f1ee07, #d0cd14);
}
.modif:pressed {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #568a55 0%, #169012 100),
            #64f802,
            #94bb71,
            radial-gradient(center 50% 50%,radius 100%, #169012, #94bb71);
}
.delet {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #bb0f28 0%, #e10c0c 100%),
            #e10c0c,
            #bb0f28,
            radial-gradient(center 50% 50%, radius 100%, #e10c0c, rgba(187, 15, 40, 0.99));
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: #ffffff;
}
.delet:hover {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #bb0f28 0%, #e10c0c 100),
            #e10c0c,
            #bb0f28,
            radial-gradient(center 50% 50%,radius 100%, #e10c0c, #bb0f28);
}
.delet:pressed {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #568a55 0%, #169012 100),
            #64f802,
            #94bb71,
            radial-gradient(center 50% 50%,radius 100%, #169012, #94bb71);
}

.combo-box
{
    -fx-background-color : #141124;
    -fx-border-color:  #515658;
    -fx-border-radius: 30;
}
.combo-box:hover
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}
.combo-box:pressed
{
    -fx-background-color : #141124;
    -fx-border-color:  #FFFF;
    -fx-border-radius: 30;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 20;
    -fx-background-color: #000000;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: center;
}
.table-view .cell{
   -fx-cell-size: 50;
  -fx-alignment: center;
  -fx-text-fill: #00000F;
}

.table-row-cell:selected {
    -fx-background-color: rgb(92, 187, 224);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* scroll bar s20tarts here */

/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button ,.table-view .decrement-button {
    -fx-background-color:transparent;
	-fx-background-radius: 2em;

}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track{
	-fx-background-color: transparent;
	-fx-border-color:derive(  #2D75E8,80%);
	-fx-background-radius: 2em;
	-fx-border-radius:2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color:derive( #2D75E8,90%);
	-fx-background-insets: 2, 0, 0;
	-fx-background-radius: 2em;

}

/* chart properties */

.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}
.chart-plot-background {
    -fx-background-color:transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}
.linear-grad
{
    -fx-background-color: linear-gradient(to bottom left, #378c34, #38b94d);
}
.btn:hover{
    -fx-cursor:hand ;
}
.table-view {
    -fx-background-color:#141124;
    -fx-background-radius:14 14 0 0;

}
.table-view .column-header-background{
    -fx-background-color: #141124;
    -fx-background-radius:14;
    -fx-background-insets: 0 0 10 0;



}
.table-view .column-header, .table-view .filler{
    -fx-size:60px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;

}

.table-view .column-header .label {
    -fx-text-fill: white ;
}
scroll-pane {
    -fx-background-color: #02030A;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #fbfbff;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: black;
}
.card{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20;

}
.card1{
    -fx-background-color: #3DD914;
    -fx-background-radius: 20;

}
.btn:hover{
    -fx-cursor:hand ;
}
.table-view {
     -fx-text-alignment:center ;
    -fx-background-color: #dad7e1;
    -fx-background-radius:14 14 0 0;

}

.table-view .column-header-background{
    -fx-background-color: #393351;
    -fx-background-radius:14 14 0 0;
    -fx-background-insets: 0 0 10 0;



}
.table-view .column-header, .table-view .filler{
    -fx-size:54px;
    -fx-border-width: 0 0 10 0;
    -fx-background-color:transparent;
    -fx-pref-columns: center;

}


.table-view .column-header .label {
    -fx-text-fill: #ffffff;
    -fx-font-size: 13px;
    -fx-text-alignment: center;
}